#nav {
    height: 5.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: fixed;
    z-index: 99;
    background: #00000074;
    box-shadow: 0px 0px 5px 4px grey;
  }
  
  #nav img {
    height: 4rem;
  }
  
  #nav h4 {
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    transition: all 0.5s ease-in;
  }
  
  #nav h4:hover {
    color: lightgreen;
  }
  
  #nav a {
    text-decoration: none;
  }
  
  #nav .menuItems {
    gap: 2rem;
    display: flex;
  }
  
  .menuIcon {
    display: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.5s ease-in;
  }
  
  @media (max-width: 768px) {
    #nav {
      padding: 0.5rem 1rem;
      background: transparent;
      box-shadow: none;
    }
  
    .menuItems {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background: #000000;
      position: absolute;
      top: -100vh;
      right: 0;
      width: 100%;
      text-align: center;
      padding: 1rem 0;
      transition: top 0.3s ease-in-out;
    }
  
    .menuItems.active {
      top: 5.5rem;
    }
  
    .menuIcon {
      display: block;
    }
  }
  